@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1> STUDENT INFORMATION </h1>
Student Name <br>
    Joyce N. Bianes <br>
Age </ br>
    20 Years Old <br>
Birthday <br>
    April 14, 2000 <br>
Hobbies <br>
    Watching K-drama/or any kinds of movies or series, Painting/Drawing, sReading Wattpad stories <br>
</div>