<div>
    <h1> SUBJECT: </h1>
Application DEvelopment and Emerging Technologies <br>
    <h1> PROF. NAME: </h1>
Mr. Nino Alamo <br>
    <h1> COURSE: </h1>
Bachelor of Science in Information Technology <br>
</div>
